*{
  box-sizing: border-box;
}
body{
  background-color: aquamarine;
}
.users-cards{
  /* min-height: 80vh; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-content: space-around; */
}
.user-card{
  min-width: 300px;
  width: 100%;
  max-width: 400px;
  min-height: 300px;
  display: flex;
  background-color: azure;
  margin-bottom: 20px;
}
.user-photo{
  width: 60%;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0, 68% 100%, 0% 100%);
}
.user-info{
  margin: auto;
}
