body{
  background-color: aquamarine;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 300px;
  min-height: 50vh;
  margin: auto;
}
input:focus{
  outline-color: coral;
}
label{
  display: flex;
  flex-direction: column;
}
.btn-block{
  text-align: center;
}