*{
  box-sizing: border-box;
}
body{
  background-color: azure;
}
h1{
  font-size: 3em;
  column-span: all;
  text-align: center;
}
.content{
  max-width: 1200px;
  min-height: 80vh;
  margin : auto;

  columns: 3  200px; 
   /* column-count: 4;
  column-width: 300px; */
  
  column-rule: cadetblue dotted 5px;
  column-gap: 4em;
  column-fill: auto;
  text-align: justify;
}